<div class="container" style="background-color: chartreuse;">
  <div class="description">
    <h1>Introductory text goes here!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus orci massa, lacinia efficitur dolor cursus ac. Morbi vel ex fringilla, fermentum felis scelerisque, aliquet erat. Vivamus mollis, sem non efficitur feugiat, justo elit maximus enim, vitae molestie est nisi in odio. Sed in turpis metus. Morbi et eleifend massa. Nunc in elit vel turpis sagittis tempor nec quis dui. Integer finibus congue arcu in tincidunt. Donec ultrices risus et ornare lobortis.</p>
    <p>Cras imperdiet dui in felis aliquet efficitur. Nulla facilisi. Vestibulum aliquet, turpis ac euismod egestas, risus lorem convallis est, eget gravida nisl mi nec diam. Maecenas a diam nibh. Donec felis ipsum, bibendum porta risus eget, porttitor sodales dolor. Vivamus congue ullamcorper velit, ac accumsan nibh. Nulla et metus quis nisi mattis posuere. Duis auctor feugiat dui, sed dapibus ante dignissim ac.</p>
    <p>Ut vitae scelerisque purus, et facilisis elit. Donec accumsan, lorem id hendrerit placerat, urna erat condimentum odio, id venenatis ipsum neque a ipsum. Fusce eget ante vitae nulla pharetra scelerisque. Maecenas sit amet sagittis risus. Mauris pellentesque sem id elit aliquet, ut tincidunt nulla tempus. Vestibulum lacinia, turpis eget fringilla placerat, ligula lectus condimentum erat, a eleifend lorem libero nec erat. Morbi porta purus sodales maximus imperdiet. Donec ultricies neque a turpis gravida, eget accumsan enim posuere. Morbi sed purus quam.</p>
  </div>
  <div class="gallery">
    <img src="../../../../assets/images/WorkProfilePic.jpg" alt="Work profile picture Yannick">
  </div>
</div>
