// TODO ==> Rename to functional color names (for example: main-color, highlight-color ...)
$base--yellow: #FBE8A6;
$base--orange: #F4976C;
$base--dark-blue: #303C6C;
$base--middle-blue: #B4DFE5;
$base--light-blue: #D2FDFF;
